*
  box-sizing border-box





@font-face {
  font-family: 'gordita'
  font-style: normal
  font-weight: 400
  src: local('Gordita Regular'), 
  url('assets/fonts/gordita/woff/GorditaRegular.woff') format('woff');

}

@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: normal;
  src: local('GorditaRegularItalic'), url('assets/fonts/gordita/woff/GorditaRegularItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: 100;
  src: local('GorditaThin'), url('assets/fonts/gordita/woff/GorditaThin.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 100;
  src: local('GorditaThinItalic'), url('assets/fonts/gordita/woff/GorditaThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: 200;
  src: local('GorditaLight'), url('assets/fonts/gordita/woff/GorditaLight.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 200;
  src: local('GorditaLightItalic'), url('assets/fonts/gordita/woff/GorditaLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: 500;
  src: local('GorditaMedium'), url('assets/fonts/gordita/woff/GorditaMedium.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 500;
  src: local('GorditaMediumItalic'), url('assets/fonts/gordita/woff/GorditaMediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: bold;
  src: local('GorditaBold'), url('assets/fonts/gordita/woff/GorditaBold.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 500;
  src: local('GorditaBoldItalic'), url('assets/fonts/gordita/woff/GorditaBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: 800;
  src: local('GorditaBlack'), url('assets/fonts/gordita/woff/GorditaBlack.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 800;
  src: local('GorditaBlackItalic'), url('assets/fonts/gordita/woff/GorditaBlackItalic.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: normal;
  font-weight: 900;
  src: local('GorditaUltra'), url('assets/fonts/gordita/woff/GorditaUltra.woff') format('woff');
}


@font-face {
  font-family: 'gordita';
  font-style: italic;
  font-weight: 900;
  src: local('GorditaUltraItalic'), url('assets/fonts/gordita/woff/GorditaUltraItalic.woff') format('woff');
}

body 
  margin 0
  
  font-family gordita
  font-weight normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #241740

button 
   border none 
   background white 